<!-- navbars top right -->
    <!-- on click buttons should go to a btn-default bootstrap -->
    <%= 
    window.onload = function() {
        if (window.location.href.indexOf('/my/url')) {
          //Hide the element.
          document.querySelectorAll('.sidebar-item')[0].style.display = 'none';
        }
      };
%>
    <div class="level_1 nav-buttons">
            <div class="level_2">
                <div class="level_3">
                    <a href="/settings">
                        <button ng-route="" class="btn btn-primary btn-lg">Settings</button>
                    </a>
                </div>
                <div class="level_3">
                    <a href="/gists">
                        <button class="btn btn-info btn-lg">Gists</button>
                    </a>
                </div>
            </div>
            <div class="level_2">
                <div class="level_3">
                    <a href="/help">
                        <button class="btn btn-info btn-lg">Help</button>
                    </a>
                </div>
                <div class="level_3">
                    <a href="/logout">
                        <button class="tn btn-primary btn-lg" title="&lt;button type=&quot; submit &quot; class=&quot;dropdown-item
        dropdown-signout &quot; data-ga-click=&quot; Header, sign out, icon:logout &quot;&gt; Sign out &lt;/button&gt;">Log out</button>
                    </a>
                </div>
            </div>
        </div>