<!DOCTYPE html>
<html lang="en" ng-app="git-app">
<% include ../partials/header.ejs %>

    <body>
        <% include ../partials/main-nav.ejs %>
            <h1>Contributions</h1>
            <p>likely some way reorganise data. Unlikely to get anywhere with this, but could be fun!!! E.g. could get stats
                back on most day contributed, best amount of continuous contributions/least amount, could get different visual
                representations on contributions, using canvas. Beyond scope of this project.</p>
    </body>

</html>