<!DOCTYPE html>
<html lang="en" ng-app="git-app">
<% include ../partials/header.ejs %>

    <body>
        <% include ../partials/main-nav.ejs %>
            <p>probably Iframe type thing?</p>
    </body>

</html>