<!DOCTYPE html>
<html lang="en" ng-app="git-app">
<% include ../partials/header.ejs %>

    <body>
        <% include ../partials/main-nav.ejs %>

            <p>Goto GitHub Help page (https://help.github.com/)with a skin around it showing you nav buttons</p>
            <div class="frame-container">
                <iframe src="https://help.github.com/"></iframe>
            </div>
    </body>

</html>