<!DOCTYPE html>
<html lang="en" ng-app="git-app">
<% include ../partials/header.ejs %>

    <body>
        <% include ../partials/main-nav.ejs %>
            <button>Home</button>
            <p>this will be its own page</p>
            <p>Add a delete button that will go through all the nonsense of github asking questions and screens</p>
            <p>good feature to add will be the filter @ https://docs.angularjs.org/api/ng/filter/filter</p>
    </body>

</html>