<!DOCTYPE html>
<html lang="en" ng-app="git-app">
<% include ../partials/header.ejs %>
    <body>
        <div ng-controller="reps_controller">
            <h2>Repositories: {{reps.length}}</h2>
            <% include ../partials/main-nav.ejs %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                name
                            </th>
                            <th>
                                link
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="rep in reps" gmDraggable="rep" gm-on-invalid-drop='reset' gm-on-drop='reorder' gm-on-hover='onHover(rep)'>
                        <tr>
                            <td>{{rep.name}}</td>
                            <td>
                                <a href="{{rep.html_url}}">{{rep.html_url}}</a>
                            </td>
                            <td>
                                <button ng-click="delete(rep)">delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <p>this will be its own page</p>
        <p>Add a delete button that will go through all the nonsense of github asking questions and screens</p>
        <p>good feature to add will be the filter @ https://docs.angularjs.org/api/ng/filter/filter</p>
    </body>
</html>