<!DOCTYPE html>
<html lang="en" ng-app="git-app">
<% include ../partials/header.ejs %>

    <body>
        <h1>Settings</h1>
        <% include ../partials/main-nav.ejs %>
        
  <!-- ng-class="box-{{$index}} " use this to have unique classes for the iterations of the repeat. Thinking of responsive and saving those to database as user preferences??? also more beneficial on the settings page-->

        <!-- ***** THE 6 WINDOWS ***** -->

        <div class="view_level_2">
            <div class="view_level_3" ngview>
                <h2>Profile</h2>
                <p>https://github.com/settings/profile</p>
                <!-- TODO linkup to profile -->
            </div>
            <div class="view_level_3" ngview>
                <h2>Account</h2>
                <p>https://github.com/settings/admin</p>
                <!-- TODO linkup to Account -->
            </div>
        </div>
        <div class="view_level_2">
            <div class="view_level_3" ngview>
                <h2>Notifications</h2>
                <p>https://github.com/settings/notifications</p>
                <!-- TODO link to notifications -->
            </div>
            <div class="view_level_3" ngview>
                <h2>SSH &amp; GPG Keys</h2>
                <p>https://github.com/settings/keys</p>
                <!-- TODO link to SSH -->
            </div>
        </div>
        <div class="view_level_2">
            <div class="view_level_3" ngview>
                <h2>Security</h2>
                <p>https://github.com/settings/security</p>
                <!-- TODO link to settings -->
            </div>
            <div class="view_level_3" ngview>
                <h2>Blocked Users</h2>
                <p>https://github.com/settings/blocked_users</p>
                <!-- TODO link to Blocked users -->
            </div>
        </div>
        <!-- Eventually try to link dragndrop -->
        <h2>Deselected</h2>
        <div class="deselected">
            <div class="empty">Empty</div>
            <div class="empty">Empty</div>
            <div class="empty">Empty</div>
            <div class="empty">Empty</div>
            <div class="empty">Empty</div>
        </div>
    </body>

</html>