<!DOCTYPE html>
<html lang="en" ng-app="git-app">
<% include ../partials/header.ejs %>

    <body>
        <h1>Settings</h1>
        <!-- navbars top right -->
        <!-- on click buttons should go to a btn-default bootstrap -->
        <div class="level_1 nav-buttons">
            <div class="level_2">
                <div class="level_3">
                    <a href="index.html">
                        <button ng-route="" class="btn btn-primary btn-lg" title="https://github.com/owaine1">GitHub</button>
                    </a>
                </div>
                <div class="level_3">
                    <a href="gists.html">
                        <button class="btn btn-info btn-lg" title="https://gist.github.com/">Gists</button>
                    </a>
                </div>
            </div>
            <div class="level_2">
                <div class="level_3">
                    <a href="help.html">
                        <button class="btn btn-info btn-lg" title="https://help.github.com/">Help</button>
                    </a>
                </div>
                <div class="level_3">
                    <a href="signout.html">
                        <button class="tn btn-primary btn-lg" title="&lt;button type=&quot; submit &quot; class=&quot;dropdown-item dropdown-signout
                    &quot; data-ga-click=&quot; Header, sign out, icon:logout &quot;&gt;
                            Sign out
                            &lt;/button&gt;">Sign out</button>
                    </a>
                </div>
            </div>
        </div>
  <!-- ng-class="box-{{$index}} " use this to have unique classes for the iterations of the repeat. Thinking of responsive and saving those to database as user preferences??? also more beneficial on the settings page-->
  
        <!-- ***** THE 6 WINDOWS ***** -->

        <div class="view_level_2">
            <div class="view_level_3" ngview>
                <h2>Profile</h2>
                <p>https://github.com/settings/profile</p>
            </div>
            <div class="view_level_3" ngview>
                <h2>Account</h2>
                <p>https://github.com/settings/admin</p>
            </div>
        </div>
        <div class="view_level_2">
            <div class="view_level_3" ngview>
                <h2>Notifications</h2>
                <p>https://github.com/settings/notifications</p>
            </div>
            <div class="view_level_3" ngview>
                <h2>SSH &amp; GPG Keys</h2>
                <p>https://github.com/settings/keys</p>
            </div>
        </div>
        <div class="view_level_2">
            <div class="view_level_3" ngview>
                <h2>Security</h2>
                <p>https://github.com/settings/security</p>
            </div>
            <div class="view_level_3" ngview>
                <h2>Blocked Users</h2>
                <p>https://github.com/settings/blocked_users</p>
            </div>
        </div>
        <h2>Deselected</h2>
        <div class="deselected">
            <div class="empty">Empty</div>
            <div class="empty">Empty</div>
            <div class="empty">Empty</div>
            <div class="empty">Empty</div>
            <div class="empty">Empty</div>
        </div>
    </body>

</html>