<!DOCTYPE html>
<html lang="en" ng-app="git-app">
<% include ../partials/header.ejs %>

    <body>
        <!-- notworking play on codepen until sorted -->
        <!-- <script>
            console.log('hello');
            window.onload = function () {
                if (window.location.href.indexOf('/test')) {
                    console.log('hello');
                    //Hide the element.
                    document.querySelectorAll('.test')[0].style.display = 'none';
                }
            };
        </script> -->
        <% include ../partials/main-nav.ejs %>
            <p class="test">test hidden</p>
            <h1>test shown</h1>

            <h1>Some Angular features</h1>
            <h2>Some random text</h2>
            <h3>Some more random text</h3>
            <div>
                <h2>View1</h2>
                Name:
                <input type="text" ng-model="filter.name" />
                <br/>
                <ul>
                    <li ng-repeat="cust in customers | filter:filter.name |"></li>
                </ul>
                <br/> Customer Name:
                <br/>
                <button ng-click="addCustomer()">Add Customer</button>
                <a href="#/view2">View 2</a>
            </div>
    </body>

</html>