    /* TODO likely need to wipe this file clean. Bear in mind
    responsive design i.e. @media (max-width: 767px) and @media(min-width: 768px).    */
    body {
        background-color: #90ee90;
    }

    h1 {
        position: center;
        color: #2d632d;
    }

    form {
        position: absolute;
        margin: auto;
        right: 50%;
        border: 5px solid #ccc;
        border-radius: 20px;
        background-color: #eee;
    }

    a {
        display: block;
    }

    .glyphicon {
        position: relative;
        bottom: 100%;
        right: 100%;
    }

    .btn {
        width: 100px
    }

    .view_level_1 {
        display: inline-flex;
        clear: both;
    }

    div .view_level_3 {
        border: 1px solid #000;
        border-radius: 30px;
        background-color: #add8e6;
        position: relative;
        top: 20%;
        left: 50%;
        margin: 10px;
        width: 250px;
        height: 250px;
        display: block;
    }

    .empty {
        display: inline-block;
        border: dashed 5px #000;
        border-radius: 10px;
        width: 150px;
        height: 50px;
    }

    .deselected {
        display: flex-inline;
    }
    /* The embedded web pages! */

    .frame-container {
        position: relative;
        height: 0;
        padding-bottom: 70%;
        /* This should be changed to match the aspect ratio of your frame / view */
    }

    iframe {
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media (min-width: 768px) {
        body {
            background-color: #e2f5ea;
        }
        .nav-buttons {
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0%;
        }
    }
    /* drag and drop css */

    .gm-drag-element {
        opacity: 0.3;
    }

    .gm-dragging {
        background-color: #ccc;
    }

    .gm-drag-handle {
        cursor: grab;
    }

    .panel.gm-dropping {
        box-shadow: 0px 0px 2px #000;
    }

    .list.group {
        display: inline-block;
    }
    /* ZZZZZ drag and drop */
    /* .level_3 {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 50%;
    }
    .view1,
    .view2,
    .view3,
    .view4 {
        border: 20px 20px solid black;
    }
}

@media (max-width: 767px) {
    body {
        background-color: green;
    }
    
    .level_1,
    .level_2 {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 50%;
    }
    div .view_level_3  {
        border: 1px solid black;
        border-radius: 10px;
        background-color: lightblue;
        padding-top: 80px;
        padding-right: 80px;
        padding-bottom: 80px;
        padding-left: 80px;
    }
} */